/Builds
/Library
/Logs
/obj
/Temp
/UserSettings

/.idea/
*.csproj
*.sln


Assets/KenneyAssets/*/*/*
*.sln.DotSettings.user
Packages/com.lunawolfstudios.scriptablesheets/Editor/*
Packages/com.lunawolfstudios.scriptablesheets/Editor.meta